@model List<Employee>;

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Activity
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Employee in Model)
            {
                <tr>
                    <td>@Employee.Id</td>
                    <td>@Employee.Name</td>
                    <td>@Employee.Age</td>
                    @if (Employee.Active)
                    {
                        <td class="text-success">Aktiv</td>
                    } 
                    else
                    {
                        <td class="text-danger">Passive</td>
                    }
                    <td><a asp-action="Details" asp-controller="Home" asp-route-id="@Employee.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}